@model List<TechJobsPersistent.Models.Employer>
<h1>Employer Information</h1>

@foreach (Employer employer in Model){
<div>
    <p>Name: @employer.Name</p>
    <p>Location: @employer.Location</p>
</div>
}
