@model List<TechJobsPersistent.Models.Employer>
<p><a asp-controller="Employer" asp-action="Add">Add Employer</a></p>

<h1>Employers Currently Hiring</h1>

@if (Model.Count == 0)
{
    <p>No employers are currently hiring!</p>
}
else
{
    <div>
        <ul>
            @foreach (Employer employer in Model)
            {
                <li>
                    <a asp-controller="Employer" asp-action="About" asp-route-id="@employer.Name">@employer.Name</a>
                </li>
                <li><p>@employer.Location</p> 
                </li>
            }
        </ul>
    </div>
}