@model TechJobsPersistent.ViewModels.AddEmployerViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Employer</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.Location</td>
    </tr>

</table>

@*<a asp-controller="Skill" asp-action="AddJob" asp-route-id="@Model.Name">Add additional skills</a>*@
